@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.allItemsUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 0px 0px 0px;

}
.allItemsLi {
    text-decoration: none;
    width: 9.5rem;
    margin: 1rem 0.2rem 0.2rem 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    color: black;
    box-shadow: 1px 1px 1px black,
    -3px 2px 2px #3A4046,
    -3px 3px 6px #3A4046,
    -3px 4px 10px #3A4046,
    -3px 5px 13px #3A4046,
    -3px 6px 16px #3A4046;
    
   
}
.allItemsImg {
    height: auto;
    width: 7.5rem;
    background-color: yellowgreen;
}
.allItemsLi span {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}
.clickItemButton {
    background-color: transparent;
    position: absolute;
    width: 9.5rem;
    height: 15rem;
    border: none;
}