@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.navUl {
    background-color: black;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0rem;
    padding-inline-start: 0px;
    width: 100%;
    margin-block-end: 0px;
    margin-block-start: 0px;
    

}
.navLi {
    color: white;
    text-decoration: none;
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}
#specialChar {
    font-size: 2rem;
    
    
}
#cart {
    font-size: 1.5rem;
    margin-left: 0rem;
    align-self: center;
}

.dropDownMenuUl{
    list-style-type: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 0.1rem;
    padding-left: 0px;
}
.dropDownMenuLi {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin: 0.7rem;
}
.navcontainerRest {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 50%;
    margin-block-end: 0px;
    margin-block-start: 0px;
}
.navcontainerHome {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

