.imgSingleItem {
    height: auto;
    width: 20rem;
}
.singleItemContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.singleItemspec {
    margin: 0.2rem;
}
.SingleItemsize{
    margin: 0.2rem;
}
.singleItembrand {
    margin: 0.2rem;
}