@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.singleItemsUl {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0px;
}
.singleItemsLi {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.singleItemsImg {
    height: auto;
    width: 20rem;
}
.singleItemsSpec {
    align-self: flex-start;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive; 
    display: inline-flex;
}
.singleItemSize {
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    font-family: 'Bebas Neue', cursive; 
    font-size: 1rem;
    margin: 0px 0px 0px 5px;
    
}
.singleItemSizeName {
    font-family: 'Bebas Neue', cursive; 
    font-size: 1.5rem;
}
.singleItemPrice {
    font-family: 'Bebas Neue', cursive; 
    font-size: 1rem;
}
.singleItemPrice {
    font-size: 2rem;
    margin: 0.2rem;
}
.divFlexSingleItem {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;

}
.addToCartButton {
    border: 1px solid black;
    font-family: 'Bebas Neue', cursive; 
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 0.75rem 2rem 0.75rem 2rem;
    background-color: black;
    color: white;
}
.tickButton {
    border: 1px solid black;
    background-color: #3AA41E;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.tikXContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.crossButton {
    border: 1px solid black;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}